*{
    padding : 0;
    margin : 0;
    border : 0;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.underLine{
    text-decoration: underline;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.blended_grid{
    display : block;
    width : 1000px;
    overflow : auto;
    margin : 0 auto;
}
.bar{
    clear : none;
    float : left;
    position : relative;
    width : 250px;
    height : 100px;
}
.headerBarcode{
    height : 100px;
}
.printBar {
    padding: 25px 0;
}
.logo{
    clear : none;
    float : left;
    position : relative;
    width : 250px;
    height : 100px;    
}
#logoImg{
    max-height: 35px;
}
#leftPic{
    max-height: 70px;
    padding-left: 100px;
}

.addressSpan{
    float : left;
    width : 250px;
    height : 100px;
}
.address2{
    clear : none;
    float : left;
    width : 250px;
    height : 100px;
}
.agent{
    float : left;
    width : 250px;
    height : 50px;
}
.shippingtype{
    float : left;
    width : 250px;
    height : 50px;
}
.dateSub{
    float : left;
    width : 250px;
    height : 50px;
}
.declaredVal{
    float : left;
    width : 250px;
    height : 50px;
}
.addressTable{
    float : left;
    width : 610px;
    height : 345px;
    padding-right: 5px;
}
.senderAddressTable{
    width: 100%;
    border: 1px solid black;
}
.receiverAddressTable{
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
}
.senderTH{
    width: 20%;
    border: 1px solid black;
}
.senderTH2{
    width: 80%;
    border: 1px solid black;
}

.itemList{
    float : left;
    width : 340px;
    height : 340px; 
}
.tableItems {
    width: 100%;
    height: 317px;
    padding-left: 5px;
    border: 1px solid #000;
} 
th.numList{
    width: 10%;
}
th.itemsList {
    text-align: left;
    width: 70%; 
  }  
th.qtyList {
    text-align: left;
    width: 20%; 
 }

.tablePackageInfo {
    width: 956px;
    border: 1px solid #000;
}
.tablePackageInfo td{
    text-align: center;
}
#weightTd{
    font-size: 30px;
}
#chargealeTd{
     font-size: 30px;
}

#lenghtTd{
     font-size: 30px;
}
#widthTd{
     font-size: 30px;
}
#heightTd{
     font-size: 30px;
}

.freightLabel {
    display: inline-block;
    width: 200px;
}
.insuranceLabel {
    display: inline-block;
    width: 200px;
}
.legalInformation{
    width : 956px;
    height : 450px;
    font-size: 11px; 
}

