*{
padding : 0;
margin : 0;
border : 0;
}
.blended_grid{
display : block;
width : 1000px;
overflow : auto;
margin : 0 auto;
}
.bar{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;

}
.logo{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;
    
    
}
#logoImg{
    max-height: 35px;
    width: auto;
}
#leftPic{
     max-height: 70px;
    padding-left: 100px;
    width: auto;
}
.addressSpan{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;
}
.address2{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;
    
}
.agent{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;

}
.shippingtype{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;
 
}
.dateSub{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;
  
}
.declaredVal{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;
   
}
.addressInput{
clear : none;
float : left;
position : relative;
width : 650px;
height : 350px;
   
}
.itemList{
clear : none;
float : left;
position : relative;
width : 350px;
height : 350px;
   
}
.rec{
clear : none;
float : left;
position : relative;
width : 650px;
height : 250px;
    background-color:dimgrey;
}
.it2{
clear : none;
float : left;
position : relative;
width : 350px;
height : 250px;
    background-color:chartreuse;
}
.legalInformation{
clear : none;
float : left;
position : relative;
width : 1000px;
height : 350px;
    
}
.headerBarcode{
clear : none;
float : left;
position : relative;
width : 1000px;
height : 100px;
    
}

.underLine{
    text-decoration: underline;
}

.sizeOfDescription{
    max-height: 2px;
    margin: none;
    padding: none;
}

.tableItems {
  width: 100%;
  border: 1px solid #000;
}

#weightTd{
    font-size: 30px;
}

#chargealeTD{
     font-size: 30px;
}

#lenghtTD{
     font-size: 30px;
}

#widthTD{
     font-size: 30px;
}

#heightTD{
     font-size: 30px;
}

th.numList{
  width: 5% ;
}
th.itemsList {
  width: 75%; 
}

th.qtyList {
  width: 20%; 
}

.addressTable{
      width: 100%;
    border: 1px solid black;
}

.senderTH2{
    width: 80%;
    border: 1px solid black;
}

.senderTH{
    width: 20%;
    border: 1px solid black;
}

.legalInformation{
    max-width: 90%;
    font-size: 10px;
}