*{
padding : 0;
margin : 0;
border : 0;
}
.blended_grid{
display : block;
width : 1000px;
overflow : auto;
margin : 0 auto;
}
.bar{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;

}
.logo{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;
    
    
}
.addressSpan{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;
}
.address2{
clear : none;
float : left;
position : relative;
width : 250px;
height : 100px;
    
}
.agent{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;

}
.shippingtype{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;
 
}
.dateSub{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;
  
}
.declaredVal{
clear : none;
float : left;
position : relative;
width : 250px;
height : 50px;
   
}
.addressInput{
clear : none;
float : left;
position : relative;
width : 650px;
height : 350px;
   
}
.itemList{
clear : none;
float : left;
position : relative;
width : 350px;
height : 350px;
   
}
.rec{
clear : none;
float : left;
position : relative;
width : 650px;
height : 250px;
    background-color:dimgrey;
}
.it2{
clear : none;
float : left;
position : relative;
width : 350px;
height : 250px;
    background-color:chartreuse;
}
.legalInformation{
clear : none;
float : left;
position : relative;
width : 1000px;
height : 350px;
    
}
.headerBarcode{
clear : none;
float : left;
position : relative;
width : 1000px;
height : 100px;
    
}

.underLine{
    text-decoration: underline;
}

.sizeOfDescription{
    max-height: 2px;
    margin: none;
    padding: none;
}

table {
  width: 100%;
  border: 1px solid #000;
}
th.numList{
  width: 10%
}
th.itemsList {
  width: 70%; 
}

th.qtyList {
  width: 20%; 
}